/* Abaixo, site modo PC */

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container-left{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 50%;
}

.container-right{
    display: inline-block;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 10px;
    top: 155px;
}

.menu{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    width: 79px;
    height: 29px;
    color: #989D9C;
    position: relative;
    left: 70px;
    top: 29px;
    margin: 13px;
    cursor: pointer;
}

.menu:hover{ 
    opacity: 0.5;
}

.menu:active{
    opacity: 0.8;
}

.menu-button{
    width: 130px;
    height: 41px;
    border-radius: 50px;
    border: none;
    background: #665AE1;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    position: absolute;
    left: 728px;
    top: 21px;
    cursor: pointer;
}

.menu-button:hover{ 
    opacity: 0.5;
}

.menu-button:active{
    opacity: 0.8;
}

img{
    width: 568px;
    height: 500px;
    position: relative;
    top: 135px;
    left: 110px;
}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    width: 513px;
    height: 122px;
    color: #515151;
    position: relative;
    left: 160px;
}

h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    width: 448px;
    height: 71px;
    color: #515151;
    position: relative;
    left: 160px;
    margin: -10px 0px 45px 0;
}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    width: 515px;
    height: 87px;
    color: #848484;
    position: relative;
    left: 160px;
    margin: 0px 0 45px 0;
}

.explore-button{
    width: 239px;
    height: 64px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #ADFF00;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    top: 15px;
    left: 46px;
    color: #000000;
    position: relative;
    left: 160px;
    cursor: pointer;
}

.explore-button:hover{ 
    opacity: 0.5;
}

.explore-button:active{
    opacity: 0.8;
}

/* Abaixo, site modo smartphone */

@media screen and (max-width: 900px) {
    .container-left{
        display: block;
        height: auto;
        width: 60%;
    }

    .container-right{
        display: block;
        height: auto;
        width: 40%;
    }

    .menu{
        display: none;
    }

    .menu-button{
        display: none;
    }

    p{
        display: none;
    }

    img{
        width: 354px;
        height: 317px;
        position: absolute;
        top: 310px;
    }

    h1{
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        position: absolute;
        top: 564px;
        left: -80px;
    }

    h2{
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        position: absolute;
        top: 650px;
        left: -60px;
    }

    .explore-button{
        width: 239px;
        height: 64px;
        border-radius: 50px;
        box-shadow: 0px 4px 4px 0px #00000040;
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
        position: absolute;
        top: 747px;
        left: -80px;
    }

}